body {
  background-color:white;
  color:#444444;
}
.button {

  color:white;
  display:inline-block;
  padding-left:5px;
  padding-right:5px;
  border:solid thin black;
  background-color:#444444;
  margin-left:10px;
  cursor:pointer;
  font:12pt arial;
}

.button:hover {
  background-color:#777777
}


.roundButton {
  border-radius:20px;
  border:solid thin #aaaaaa;
  color:black;
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
  background-color:#ffffff;
  margin-left:10px;
  cursor:pointer;
  font:12pt arial;
}

.roundButton:hover {
  background-color:#cccccc;
}


.sign_in {
  margin-top:10px;
  cursor:pointer;
}

.sign_in span {
  color:red;
}


.ubutton {
  color:black;
  display:inline-block;
  padding-left:2px;
  padding-right:2px;
  text-decoration:underline;
  margin-left:5px;
  cursor:pointer;
  font:10pt arial;
}



.ubutton:hover {
  background-color:#ddddff;
}

.indexUbutton {
  color:black;
  display:inline-block;
  padding-left:5px;
  padding-right:5px;
  text-decoration:underline;
  margin-left:5px;
  cursor:pointer;
  font:13pt arial;
}



.indexUbutton:hover {
  background-color:#ddddff;
}


.colUbutton {
  color:black;
  display:block;
  text-align:center;
  text-decoration:underline;
  cursor:pointer;
  font:11pt arial;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}



.colUbutton:hover {
  background-color:#ddddff;
}

.colUbutton.left {
  text-align:left;
  padding-left:20px;
}


.colUbutton.moreLeft {
  text-align:left;
  padding-left:40px;
  font:10pt arial;

}
.smallButton {
  color:white;
  display:inline-block;
  padding-left:5px;
  padding-right:5px;
  border:solid thin black;
  background-color:#aaaaaa;
  margin-left:5px;
  cursor:pointer;
  font:8pt arial;
  border-radius:20px;

}


.smallButtonn {
  border-radius:20px;
  color:black;
  display:inline-block;
  padding-left:5px;
  padding-right:5px;
  text-decoration:underline;
  margin-left:5px;
  cursor:pointer;
  font:8pt arial;
}


.smallButton:hover {
  background-color:#dddddd;
}


.error {
  background-color:white;
  color:red;
}

.errorTitle {
  color:red;
}



.tabElement {
  color:black;
  display:inline-block;
  padding-left:25px;
  padding-right:25px;
  cursor:pointer;
  font:10pt arial;
  background-color:#dddddd;
}




.error {
  background-color:white;
  color:red;
}


#outerContainer {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:90%;
}
#innerContainer {
  background-color:white;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:700px;
  padding:20px;
  /*border:solid thin #aaaaaa;*/
  border:solid thin #aaaaaa;
  /*border-radius:20px;*/
 
}

.ideaP {
  font-size:16pt;
  line-height:25px;
  letter-spacing:-0.003em;
}

#lowerContainer { 
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:700px;
  padding:20px;
  bborder:solid thin #dddddd;
  background-color:rgb(30,30,30);
 
}

#bottomContainer {
  color:white;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:700px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  bborder:solid thin #dddddd;
  background-color:rgb(30,30,30);
  border-radius:50px;
}
#topBar {
  padding-top:30px;
  margin-left:auto;
  margin-right:auto; 
  position:relative;
  width:90%;
}
/*
#outerContainer {
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:100%;
  width:700px;
  background-color:white
}
*/
.introDiv {
  text-align:center;
  padding-top:10px;
  font-family:arial;
  font-size:12pt;
}
.mainTitle {
  text-align:left;
  font:bold 13pt arial;
  cursor:pointer;
  color:black;
  padding-left:10px;
  text-decoration:none;
}



.pageTitle {
  text-align:left;
  font:bold 13pt arial;
  margin-bottom:20px;
}


.mainTitle:hover {
  color:#777777;
}

.linkLine {
  padding-top:20px;
}



.inspectButton {
  position:absolute;
  top:0px;left:-5px;
  color:white;
  display:inline-block;
  padding-left:5px;
  padding-right:5px;
  border:solid thin black;
  background-color:#444444;
  margin-left:10px;cursor:pointer;
}

.itemImage {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  width:500px;
}
.embed {
  width:400px;
  font-size:13pt;
  margin-bottom:20px;
  margin-left:10px;
}




/* code word; for tech docs refs to vars, fun names etc */

.code {
  display:inline;
  padding-top:10px;
  color:black;
  font-weight:normal;
  font:12pt courier;
}

.smallcode {
  display:inline;
  margin:0;
  padding:0;
  color:#000000;
  font:9pt courier;
}
p {
  margin-top:5;
  margin-bottom:0;
}
pre {
  padding-top:10px;
  margin:0;
    font-weight:normal;

   color:black;/*#000000;*/
  font:12pt courier;
}

.codeWord {
  font:12pt courier;
  /*font-weight:bold;*/
  color:#000000;
  /*text-decoration:underline;*/
}

.section {
  font-size:14pt;
  font-weight:800;
  padding-top:20px;
  padding-bottom:10px;
}



.introSection {
  /*font-style:italic;*/
  font-weight:bold;
}

.subsection {
  font-weight:bold;
}
.example {
  margin-left:20px;
  cursor:pointer;
  margin-top:10px;
  text-decoration:underline;
}
.examples {
  background-color:#dddddd;
  padding:10px;
  margin-left:40px;
  display:inline-block;
  vertical-align:top;
}
.loggedIn {
  margin-left:5px;
  font-size:10pt;
}

#buttons {
      vertical-align:top;
}



.missingMessage {
  text-align:center;
  font-size:14pt;
  padding-top:50px;
  padding-bottom:50px;
  font-weight:bold
}

.close {
  padding:3px;
  cursor:pointer;
  background-color:red;
  font-weight:bold;
  border:thin solid black;
  font-size:12pt;
  color:black;
  float:right
}

.clickable {
  text-decoration:underline;
  color:blue;
  cursor:pointer;
}

.techDetails {
  padding-left:20px;
  margin:20px;
  display:none;
  border:thin solid black
}
.tableOfContents {
  padding:30px;
}

.contentsLine {
  padding-left:15px;
  padding-bottom:5px;
}


.subContentsLine {
  padding-bottom:5px;
  padding-left:20px;
}

.pathLineElement {
  cursor:pointer;
  color:blue;
}

.pulldownBox {
  position:absolute;
  border:solid thin black;
  background-color:white
}

.pulldownEntry {
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  font-size:12pt;
}
.pulldownEntry:hover {
  background-color:#dddddd;
}

.paddedIframeContents {
  padding:30px;
}

.link {
  color:blue;
  cursor:pointer;
  text-decoration:underline;
}

.Dialog {
  width:100%;
}

.Dialog div {
  text-align:center;
  margin-bottom:20px;
}

.notStandaloneText {
  padding:30px;
}

.indent20 {
  margin-left:20px;
}
.tutorialLink {
  cursor:pointer;
  color:-webkit-link;
  text-decoration: none;
  line-height:15px;
  letter-spacing:-0.003em;
}

a {
  text-decoration:none;
  color:blue;
}

.paddedTutorialLink {
  cursor:pointer;
  color:-webkit-link;
  text-decoration: underline;
  line-height:15px;
  letter-spacing:-0.003em;
  padding-left:25px;
}
.choosedocIndent1 {
    padding-left:40px;
    padding-bottom:5px;
}
.choosedocIndent2 {
    padding-left:60px;
    padding-bottom:5px;
}

  .diagramsMainLink {
    padding:10px;
    padding-bottom:0px;
  }
 
.chooserItem {
  cursor:pointer;
}

.workerDiv {
  position:absolute;
  width:20px;
  height:20px;
  top:0px;
  /*border:solid thin red;*/
}

.guideChart {
  cursor:pointer;
  padding-left:10px;
  color:blue;
  text-decoration:underline;
}

.tInput {
    display:inline-block;
    width:150px;
    background-color:white;
    margin-left:10px
}

.apiCall {
  display:block;
  margin-top:20px;
  width:700px;
}

.apiSection {
  padding-top:20px;
  font-weight:bold;
}

.apiCallNm {
    display:inline-block;
    vertical-align:top;
    width:220px;
    font:9pt courier;
}

.apiCallNm2 {
    display:inline-block;
    vertical-align:top;
    width:300px;
    font:9pt courier;
}

.apiCallDf {
    display:inline-block;
    vertical-align:top;
    width:400px;
    margin-left:70px;
}


.apiCallDf2 {
    display:inline-block;
    vertical-align:top;
    width:100px;
    margin-left:240px;
}

.introP {
  margin-bottom:8px;
  margin-top:8px
}

.closeBut {
 border-radius:10px;
 padding-left:5px;
 padding-right:5px;
 float:right;
 border:thin solid black;
 background-color:red;
 color:white
}
.topGrid {
  display:grid;
  padding-top:0px;
  grid-template-columns:0.5fr 2fr 0.5fr;
}

.elementGrid {
  display:grid;
  padding-top:0px;
  grid-template-columns:0.5fr 2.1fr 3fr 3fr;
}
.buttonGrid {
  display:grid;
  padding-top:30px;
  grid-template-columns:2fr 1fr 2fr 1fr;
}


.svgGrid {
  display:grid;
   grid-template-columns:1fr 1fr;
  grid-template-rows:150px 150px;

1